<div class="profile-container">
  <div class="profile-profile">
    <img
      alt="Rectangle0496"
      src="/assets/external/rectangle0496-0djc-900h.png"
      class="profile-rectangle"
    />
    <img
      alt="Ellipse0497"
      src="/assets/external/ellipse0497-upac-200h.png"
      class="profile-ellipse"
    />
    <span class="profile-text"><span>Jane</span></span>
    <span class="profile-text02"><span>San francisco, ca</span></span>
    <img
      alt="Rectangle20500"
      src="/assets/external/rectangle20500-ru-300h.png"
      class="profile-rectangle2"
    />
    <img
      alt="Rectangle250501"
      src="/assets/external/rectangle250501-qk3-300h.png"
      class="profile-rectangle25"
    />
    <img
      alt="Rectangle210502"
      src="/assets/external/rectangle210502-cb5o-400h.png"
    />
    <img
      alt="Rectangle230503"
      src="/assets/external/rectangle230503-oakn-400h.png"
    />
    <img
      alt="Rectangle240504"
      src="/assets/external/rectangle240504-w97w-400h.png"
      class="profile-rectangle24"
    />
    <img
      alt="Rectangle220505"
      src="/assets/external/rectangle220505-jeli-400h.png"
    />
    <button class="profile-button">
      <img
        alt="Rectangle20198"
        src="/assets/external/rectangle20198-7jdf-400w.png"
        class="profile-rectangle21"
      />
      <span class="profile-text04"><span>see more</span></span>
    </button>
    <button class="profile-button1">
      <img
        alt="Rectangle20197"
        src="/assets/external/rectangle20197-uypr-200h.png"
        class="profile-rectangle22"
      />
      <span class="profile-text06"><span>follow jane</span></span>
    </button>
    <button class="profile-button2">
      <img
        alt="Rectangle20106"
        src="/assets/external/rectangle20106-7chi-200h.png"
        class="profile-rectangle23"
      />
      <span class="profile-text08"><span>message</span></span>
    </button>
    <div class="profile-status-bar">
      <div class="profile-ui">
        <div class="profile-battery">
          <img
            alt="Border0104"
            src="/assets/external/border0104-72xq-200h.png"
            class="profile-border"
          />
          <img
            alt="Cap0104"
            src="/assets/external/cap0104-m6f9.svg"
            class="profile-cap"
          />
          <img
            alt="Capacity0105"
            src="/assets/external/capacity0105-ro5j-200h.png"
            class="profile-capacity"
          />
        </div>
        <div class="profile-wifi">
          <img
            alt="Wifi0105"
            src="/assets/external/wifi0105-uym.svg"
            class="profile-wifi1"
          />
        </div>
        <div class="profile-cell">
          <img
            alt="Cell0105"
            src="/assets/external/cell0105-y4qh.svg"
            class="profile-cell1"
          />
        </div>
      </div>
      <div class="profile-time">
        <span class="profile-text10"><span>9:27</span></span>
      </div>
    </div>
    <div class="profile-tab-bar">
      <div class="profile-background">
        <img
          alt="Background0107"
          src="/assets/external/background0107-q4n-200h.png"
          class="profile-background1"
        />
        <div class="profile-home">
          <img
            alt="Union0107"
            src="/assets/external/union0107-thni.svg"
            class="profile-union"
          />
        </div>
        <div class="profile-search">
          <img
            alt="Union0108"
            src="/assets/external/union0108-0rw.svg"
            class="profile-union1"
          />
        </div>
        <div class="profile-upload">
          <img
            alt="Rectangle0108"
            src="/assets/external/rectangle0108-11v4-200h.png"
            class="profile-rectangle1"
          />
          <img
            alt="Union0108"
            src="/assets/external/union0108-fnxr.svg"
            class="profile-union2"
          />
        </div>
        <div class="profile-chat">
          <img
            alt="Union0109"
            src="/assets/external/union0109-41q.svg"
            class="profile-union3"
          />
        </div>
        <div class="profile-profile1">
          <div class="profile-person">
            <img
              alt="Ellipse0109"
              src="/assets/external/ellipse0109-385o.svg"
              class="profile-ellipse1"
            />
            <img
              alt="Ellipse0109"
              src="/assets/external/ellipse0109-1wmf-200h.png"
              class="profile-ellipse2"
            />
          </div>
        </div>
      </div>
      <img
        alt="Shape0109"
        src="/assets/external/shape0109-qlh-200h.png"
        class="profile-shape"
      />
    </div>
  </div>
</div>
